<div class="container  mt-2 p-2 mx-auto w-3/4 rounded">

    <div class="titulo m-5 mb-8">
        <h1 class="text-blue-800 text-center font-bold text-5xl ">POKEMONES</h1>
    </div>

    <div class="contenedor d-flex text-center">
        <input type="email" class="form-control border border-black rounded p-2 w-2/4 mr-3"
            placeholder="Buscar pokemon" #idPokemon>
        <button type="button"
            class="bg-blue-700  hover:bg-blue-800 text-white font-semibold p-2 px-4  rounded "
             (click)="buscar(idPokemon.value)" >Buscar</button>
    </div>

    <div class="pokemones mt-5">

        <div class="grid grid-cols-3 gap-3 ">
            <div *ngFor="let p of almacen" class="border border-black rounded bg-emerald-50 p-2 ">
                <p class="text-3xl font-mono text-blue-900 font-bold">{{p.id}}</p>
                <img src="{{p.sprite}}" class="" width="100%">
                <p class="text-center text-3xl font-mono font-bold uppercase ">{{p.nombre}}</p>
            </div> 
        </div>

    </div>


</div>